In [1]:
import pandas as pd
import sys
sys.path.append('../../astrophys/tools')
from tools_gs_par import *
from params import *

In [2]:
inj_type = 'sg'

params_path = Path('../../shared/injection_params')

params_dict = {'sg': ['f0', 'Q', 'A']}
param_keys = params_dict[inj_type]
params = pd.read_csv(join(params_path, inj_type + '_params_csv.csv'), usecols=param_keys)

In [3]:
inj_params = {key: [] for key in param_keys}
print(inj_params)
# inj_params.keys = param_keys
# print(inj_params)

{'f0': [], 'Q': [], 'A': []}

In [4]:
for index, row in params.iterrows():
    for key in param_keys:
        inj_params[key] = row[key]
    print(inj_params)

{'f0': 70.0, 'Q': 100.0, 'A': 5.0000000000000005e-22}
{'f0': 70.0, 'Q': 100.0, 'A': 1.0000000000000001e-21}
{'f0': 70.0, 'Q': 100.0, 'A': 2.0000000000000002e-21}
{'f0': 70.0, 'Q': 100.0, 'A': 3e-21}
{'f0': 235.0, 'Q': 100.0, 'A': 5.0000000000000005e-22}
{'f0': 235.0, 'Q': 100.0, 'A': 1.0000000000000001e-21}
{'f0': 235.0, 'Q': 100.0, 'A': 2.0000000000000002e-21}
{'f0': 235.0, 'Q': 100.0, 'A': 3e-21}
{'f0': 554.0, 'Q': 9.0, 'A': 5.0000000000000005e-22}
{'f0': 554.0, 'Q': 9.0, 'A': 1.0000000000000001e-21}
{'f0': 554.0, 'Q': 9.0, 'A': 2.0000000000000002e-21}
{'f0': 554.0, 'Q': 9.0, 'A': 3e-21}
{'f0': 849.0, 'Q': 3.0, 'A': 5.0000000000000005e-22}
{'f0': 849.0, 'Q': 3.0, 'A': 1.0000000000000001e-21}
{'f0': 849.0, 'Q': 3.0, 'A': 2.0000000000000002e-21}
{'f0': 849.0, 'Q': 3.0, 'A': 3e-21}
{'f0': 1615.0, 'Q': 100.0, 'A': 5.0000000000000005e-22}
{'f0': 1615.0, 'Q': 100.0, 'A': 1.0000000000000001e-21}
{'f0': 1615.0, 'Q': 100.0, 'A': 2.0000000000000002e-21}
{'f0': 1615.0, 'Q': 100.0, 'A': 3e-21}
{'f0': 2000.0, 'Q': 3.0, 'A': 5.0000000000000005e-22}
{'f0': 2000.0, 'Q': 3.0, 'A': 1.0000000000000001e-21}
{'f0': 2000.0, 'Q': 3.0, 'A': 2.0000000000000002e-21}
{'f0': 2000.0, 'Q': 3.0, 'A': 3e-21}

In [9]:
display(params)

      f0    Q             A
0     70  100  5.000000e-22
1     70  100  1.000000e-21
2     70  100  2.000000e-21
3     70  100  3.000000e-21
4    235  100  5.000000e-22
5    235  100  1.000000e-21
6    235  100  2.000000e-21
7    235  100  3.000000e-21
8    554    9  5.000000e-22
9    554    9  1.000000e-21
10   554    9  2.000000e-21
11   554    9  3.000000e-21
12   849    3  5.000000e-22
13   849    3  1.000000e-21
14   849    3  2.000000e-21
15   849    3  3.000000e-21
16  1615  100  5.000000e-22
17  1615  100  1.000000e-21
18  1615  100  2.000000e-21
19  1615  100  3.000000e-21
20  2000    3  5.000000e-22
21  2000    3  1.000000e-21
22  2000    3  2.000000e-21
23  2000    3  3.000000e-21